.carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    display: flex;
    width: 100%; /* Ensure the slide takes up the full width of the carousel */
  }
  
  .carousel-item {
    position: relative;
    flex: 0 0 100%; /* Make each item take up the full width of the slide */
  }
  
  .carousel-item .carousel-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel-item:hover .carousel-text {
    opacity: 1;
  }
  
  .carousel-slide img {
    width: 50%;
    height: 50%;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar li {
    display: inline;
    margin-right: 10px;
  }
  
  .navbar a {
    color: #fff; /* Updated to white */
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  
  .navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Updated to white */
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar li a:hover {
    color: #ff6f00;
  }
  .carousel {
    width: 100%;
    overflow: hidden;
    background-color: #E6F7FF /* Replace with your desired background color */
  }
  body {
    background-color: rgba(0, 0, 0, 0.2);
  }